body {
    background: #fafafa;
}

.navbar-default {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

section.content {
    margin-top: 5em;
}

.load-box {
    margin-top: 30px;
    text-align: center;
    img {
        display: inline;
        width: 6em;
    }
    p { color: #666; font-size: 1.2em; font-style: italic; }
}

.ng-invalid.ng-dirty {
    border: 1px solid red;
    background: #ffdfdf;
}

.load-box {
    margin-top: 13%;
}
