<div class="row">
    <div class="col-lg-offset-4 col-lg-4">
        <h3>Login</h3>
        <form [ngFormModel]="loginForm" (submit)="doLogin()">
            <div *ngIf="errorMessage != null" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{errorMessage}}
            </div>
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" type="text" ngControl="userName"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" ngControl="password"/>
            </div>
            <input type="submit" [disabled]="processing" Value="Login" class="btn btn-primary"/>
            <a [routerLink]="['Register']" class="btn">Create account</a>
            <img *ngIf="processing" alt="Loading.." src="/img/loading-small.gif" class="pull-right" style="padding-top: 6px;"/>
        </form>
    </div>
</div>