<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#zimage-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img alt="zimage" src="img/logo.png" style="margin-top: -3px;"/></a>
        </div>
        <div class="collapse navbar-collapse" id="zimage-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Här kommer menu component? -->
                <a [routerLink]="['Register']" class="btn">Create account</a>
                <a [routerLink]="['Login']" class="btn">Login</a>
            </ul>
        </div>
    </div>
</nav>
<section class="content">
    <router-outlet></router-outlet>
</section>

<!-- FOOTER -->
